/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --accent-color-transparent: #ff006f66;
  --secondary-color: #DB00FF;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --transition: .2s ease-in;
  --global-padding: 10px;
  --header-decor-visibility: block;
}
